body{
  background-color: lightgreen;
  margin:0;
  padding:0;
}

.shadow {
    position:absolute;
    width: 181px;
    height: 181px;
    box-shadow: inset 0 0 18px;
    top: 0;
    left: 0;
    margin:20% 45.17%;
}

.emblem{
  display: block;
  margin: 20% auto;
}
